
/* table part */

tr.sub td.amount {
  color: red;
}

tr.add td.amount {
  color: green;
}

tr.status-1 td{
  color: blue;
}

tr.status-3 td, tr.status-4 td, tr.status-5 td, tr.status-6 td {
  background-color: #FF8E8E;
  color: white;
}

td.date {
  min-width:70px;
}
